.section_experiencia {
  display: flex;
  flex-direction: column;
  background: var(--gradient);
}

.acessibilidade,
.atracoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;

  padding: 64px 121px;
  font-family: var(--font-text);

  color: #444444;
}

.sustentabilidade {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 48px;

  padding: 64px 121px;
  font-family: var(--font-text);

  color: #444444;
}

.acessibilidade h2,
.sustentabilidade h2,
.atracoes h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
}

.moca_feliz {
  width: 609px;
  height: 381px;
  background: url("/assets/moca.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.eco-bag {
  width: 609px;
  height: 381px;
  background: url("/assets/eco-bag.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.carrossel {
  background: url("/assets/carrossel.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 609px;
  height: 381px;
}

.texto-sustentabilidade {
  padding: 20.5px 0;
  width: 609px;
  height: 381px;
  text-align: end;
}

.texto-sustentabilidade p {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.texto {
  padding: 20.5px 0;
  width: 609px;
  height: 381px;
}

.texto p {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .banner_experiencia {
    background: url("/assets/banner-experiencia-tablet.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 384px;
  }

  .acessibilidade,
  .sustentabilidade,
  .atracoes {
    flex-direction: column;
    padding: 32px 80px;
    gap: 32px;
  }

  .texto,
  .texto-sustentabilidade {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .banner_experiencia {
    background: url("/assets/banner-experiencia-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
  }

  .acessibilidade,
  .sustentabilidade,
  .atracoes {
    padding: 32px 24px;
    align-items: center;
  }

  .moca_feliz {
    background: url("/assets/moca-feliz-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 312px;
    height: 381px;
  }

  .eco-bag {
    background: url("/assets/eco-bag-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 312px;
    height: 381px;
  }

  .carrossel {
    background: url("/assets/carrossel-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 312px;
    height: 381px;
  }

  .texto,
  .texto-sustentabilidade {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 320px) {
  .banner_experiencia {
    height: 230px;
  }

  .acessibilidade,
  .sustentabilidade {
    padding: 32px 0;
  }
}
