.acessibilidade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;

  padding: 64px 121px;
  font-family: var(--font-text);

  background: var(--gradient);
  color: #444444;
}

.acessibilidade h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
}

.moca_feliz {
  width: 609px;
  height: 381px;
  background: url("/assets/moca.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.texto {
  padding: 20.5px 0;
  width: 609px;
  height: 381px;
}

.texto p {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .banner_experiencia {
    background: url("/assets/banner-experiencia-tablet.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 384px;
  }

  .acessibilidade {
    flex-direction: column;
    padding: 32px 80px;
    gap: 32px;
  }

  .texto {
    text-align: center;
    /* display: none; */
  }
}

@media (max-width: 650px) {
  .banner_experiencia {
    background: url("/assets/banner-experiencia-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
  }

  .acessibilidade {
    padding: 32px 24px;
    align-items: center;
  }

  .moca_feliz {
    background: url("/assets/moca-feliz-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 312px;
    height: 381px;
  }

  .texto {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 320px) {
  .banner_experiencia {
    height: 230px;
  }

  .acessibilidade {
    padding: 32px 0;
  }
}