.dates {
  padding: 64px 120px;
  background: var(--gradient);
}

.alurodromo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.alurodromo img {
  width: 609px;
  height: 381px;
}

.dates_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 540px;
}

.dates_desc h2 {
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #444444;
}

.dates_desc p {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #444444;
  text-align: justify;

  margin-top: 24px;
  margin-bottom: 24px;
}

.div_btn_ingresso {
  display: flex;
  justify-content: center;
}

.btn_comprar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 256px;
  height: 56px;
  box-shadow: 4px 4px 0px #444444;
  border-radius: 16px;
  border: 0;

  font-family: var(--font-text);
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #fff;

  background: var(--azul-escuro);
}

.btn_comprar img {
  width: 32px;
  height: auto;
}

.line-up {
  margin-top: 96px;
  margin-bottom: 37px;
}

.line-up h2 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: #444444;

  text-align: center;
}

.sabado,
.domingo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 48px;
  margin-top: 62px;
}

.sabado h2,
.domingo h2 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  text-align: center;

  padding: 16px;
  background: var(--mostarda);
  color: #ffffff;
}

.line {
  width: 400px;
  height: 0;

  border: 1px solid var(--mostarda);
}

#sabado_list,
#domingo_list {
  font-family: var(--font-text);
  color: #444444;
  text-align: center;
}

#line-1_sabado {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 32px;
}

#line-2_sabado {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 32px;
}

#line-3_sabado {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
}

#line-4_sabado {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
}

#line-1_domingo {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 32px;
}

#line-2_domingo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 32px;
}

#line-3_domingo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
}

#line-4_domingo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
}

.banner_footer_div {
  width: 100%;
  height: 338px;

  background: url("/assets/banner_footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1440px) {
  .alurodromo {
    gap: 46px;
  }

  .line {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .dates {
    padding: 64px 49px;
  }

  .line {
    width: 83.5px;
  }

  #line-2_sabado,
  #line-3_sabado,
  #line-4_sabado,
  #line-2_domingo,
  #line-3_domingo,
  #line-4_domingo {
    flex-wrap: wrap;
  }

  .alurodromo {
    flex-direction: column;
    align-items: center;
  }

  .alurodromo img {
    width: 100%;
    height: auto;
  }

  .btn_comprar img {
    width: 32px;
    height: 40px;
  }

  .sabado h2,
  .domingo h2 {
    font-size: 38px;
  }
}

@media (max-width: 650px) {
  .dates {
    padding: 32px 24px;
  }

  .dates_desc {
    width: 312px;
    justify-content: center;
  }

  .dates_desc p {
    text-align: center;
  }

  .alurodromo {
    gap: 32px;
  }

  .pessoas_img {
    content: url("/assets/people-mobile.png");
  }

  .btn_comprar {
    width: 100%;
  }

  .line-up h2 {
    font-size: 48px;
  }

  .sabado h2,
  .domingo h2 {
    font-size: 32px;
    width: 289px;
    padding: 6px 16px;
  }

  .line {
    display: none;
  }

  #line-1_sabado {
    text-align: center;
  }

  #line-2_sabado,
  #line-3_sabado,
  #line-4_sabado,
  #line-2_domingo,
  #line-3_domingo,
  #line-4_domingo {
    gap: 16px;
  }

  #line-2_sabado li:nth-child(2),
  #line-3_sabado li:nth-child(2),
  #line-4_sabado li:nth-child(3),
  #line-2_domingo li:nth-child(3),
  #line-3_domingo li:nth-child(2) {
    margin-bottom: 16px;
  }
}
