footer {
  padding: 60px 120px;
  background: var(--amarelo);
  display: flex;
  justify-content: space-between;
}

.acesse {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #444444;
}

.acesse p {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.acesse ul {
  display: flex;
  flex-direction: row;
}

.desenvolvido {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desenvolvido p {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #444444;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 60px 90px;
  }

  .socials {
    text-align: center;
  }

  .acesse {
    justify-content: center;
  }

  .desenvolvido {
    flex-direction: row;
    gap: 5px;
  }
}

@media (max-width: 650px) {
  footer {
    padding: 24px 0 !important;
  }

  .acesse {
    flex-direction: column;
  }

  .desenvolvido {
    margin-top: 32px;
    flex-direction: column !important;
    text-align: center;
  }
}