@import url("./header.css");
@import url("./banner.css");
@import url("./dates.css");
@import url("./footer.css");
@import url("./banner_experiencia.css");
@import url("./acessibilidade.css");
@import url("./toggleSwitch.css");
@import url("./banner_setores.css");
@import url("./mapa.css");
@import url("./detalhes.css");
@import url("./banner_informacoes.css");
@import url("./informacoes.css");
@import url("./banner_ingresso.css");
@import url("./form.css");
@import url("./banner_ingresso-comprado.css");
@import url("./ingresso-comprado.css");

:root {
  --font-title: "Calistoga", cursive;
  --font-text: "Raleway", sans-serif;
  --azul-claro: #c8deef;
  --banner-setores: url("/assets/mapa_setores.png");
  --pista: url("/assets/pista.png");
  --premium: url("/assets/pista-2.png");
  --cadeiras: url("/assets/cadeiras.png");
}

html[data-theme="verao"] {
  /* TEMA VERÃO */
  --gradient: linear-gradient(180deg, #bfdae6 0%, #fcf0dd 50%, #facf9d 100%);
  --amarelo-claro: #fbf0dd;
  --amarelo: #facf9d;
  --azul-escuro: #2e7ba2;
  --secundaria: #304968;
  --mostarda: #df9010;
  --font-color: #444444;
  --background-verao: url("/assets/Banner.png");
}

html[data-theme="verao"] .navbar {
  background: var(--azul-escuro);
}

html[data-theme="verao"] .banner {
  background: var(--background-verao);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html[data-theme="verao"] .line {
  border: 1px solid var(--mostarda);
}

html[data-theme="verao"] .sabado h2,
html[data-theme="verao"] .domingo h2 {
  background: var(--mostarda);
}

html[data-theme="verao"] .banner_footer_div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html[data-theme="verao"] footer {
  background: var(--amarelo);
}

html[data-theme="boreal"] {
  /* TEMA BOREAL */
  --gradient-boreal: linear-gradient(
    180deg,
    #304968 0%,
    #36c1a0 52.6%,
    #4650bd 100%
  );
  --primaria: #4650bd;
  --verde-claro: #36c1a0;
  --verde-escuro: #008364;
  --lilas: #b6bcff;
  --branco: #ffffff;
  --background-boreal: url("/assets/banner-boreal.png");
  --background-boreal-tablet: url("/assets/banner-boreal-tablet.png");
  --background-banner-experiencia-boreal: url("/assets/banner-experiencia-boreal.png");
  --background-banner-experiencia-boreal-tablet: url("/assets/banner-experiencia-boreal-tablet.png");
  --background-banner-experiencia-boreal-mobile: url("/assets/banner-experiencia-boreal-mobile.png");
  --background-banner-setores-boreal: url("/assets/banner-boreal_setores.png");
  --background-banner-informacoes-boreal: url("/assets/banner-informacoes-boreal.png");
  --background-banner-ingresso-boreal: url("/assets/banner-ingresso-boreal.png");
  --background-banner-ingresso-comprado-boreal: url("/assets/banner-ingresso-comprado-boreal.png");
  --logo-ingresso-boreal: url("/assets/logo-ingresso-boreal.svg");
  --banner-footer-boreal: url("/assets/banner_footer.png");
  --footer-banner-boreal: url("/assets/guitarra.png");
  --footer-banner-boreal-mobile: url("/assets/banner-footer-mobile.png");
}

html[data-theme="boreal"] .navbar {
  background: var(--primaria);
}

html[data-theme="boreal"] .nav_items_mobile {
  background: var(--primaria);
}

html[data-theme="boreal"] .font-branco {
  color: var(--branco) !important;
}

html[data-theme="boreal"] .bg-primaria {
  background: var(--primaria) !important;
}

html[data-theme="boreal"] .banner {
  background: var(--background-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html[data-theme="boreal"] .alurodromo img:not(.div_btn_ingresso img) {
  content: url("/assets/banda.png");
}

html[data-theme="boreal"] .banner h1,
html[data-theme="boreal"] .dates_desc h2,
html[data-theme="boreal"] .dates_desc p,
html[data-theme="boreal"] .line-up h2,
html[data-theme="boreal"] #sabado_list,
html[data-theme="boreal"] #domingo_list {
  color: var(--branco);
}

html[data-theme="boreal"] .btn_comprar {
  background: var(--primaria);
}

html[data-theme="boreal"] .dates {
  background: var(--gradient-boreal);
}

html[data-theme="boreal"] .line {
  border: 1px solid var(--verde-escuro);
}

html[data-theme="boreal"] .sabado h2,
html[data-theme="boreal"] .domingo h2 {
  background: var(--verde-escuro);
}

html[data-theme="boreal"] .banner_footer_div {
  background: var(--footer-banner-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

html[data-theme="boreal"] footer {
  background: var(--primaria);
}

html[data-theme="boreal"] .acesse p,
html[data-theme="boreal"] .desenvolvido p {
  color: var(--branco);
}

html[data-theme="boreal"] .socials img {
  content: url("/assets/Logo1.svg");
}

html[data-theme="boreal"] .acesse ul li:first-child img {
  content: url("/assets/wpp-white.svg");
}

html[data-theme="boreal"] .acesse ul li:nth-child(2) img {
  content: url("/assets/twitch-white.svg");
}

html[data-theme="boreal"] .acesse ul li:nth-child(3) img {
  content: url("/assets/instagram-white.svg");
}

html[data-theme="boreal"] .acesse ul li:nth-child(4) img {
  content: url("/assets/twitter-white.svg");
}

html[data-theme="boreal"] .section_experiencia {
  background: var(--gradient-boreal);
}

html[data-theme="boreal"] .banner_experiencia {
  background: var(--background-banner-experiencia-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

html[data-theme="boreal"] .banner_experiencia h1 {
  color: var(--branco);
}

html[data-theme="boreal"] .texto h2,
html[data-theme="boreal"] .texto p,
html[data-theme="boreal"] .texto-sustentabilidade h2,
html[data-theme="boreal"] .texto-sustentabilidade p {
  color: var(--branco);
}

html[data-theme="boreal"] .banner_experiencia_boreal {
  background: var(--background-banner-experiencia-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

html[data-theme="boreal"] .banner_setores {
  background: var(--background-banner-setores-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

html[data-theme="boreal"] .section_setores {
  background: var(--gradient-boreal);
}

html[data-theme="boreal"] .banner_setores h1,
html[data-theme="boreal"] .legenda h3,
html[data-theme="boreal"] .legenda ul,
html[data-theme="boreal"] .detalhes h3,
html[data-theme="boreal"] .pista h4,
html[data-theme="boreal"] .pista p,
html[data-theme="boreal"] .premium h4,
html[data-theme="boreal"] .premium p,
html[data-theme="boreal"] .cadeiras h4,
html[data-theme="boreal"] .cadeiras p {
  color: var(--branco);
}

html[data-theme="boreal"] .section_informacoes {
  background: var(--gradient-boreal);
}

html[data-theme="boreal"] .banner_informacoes {
  background: var(--background-banner-informacoes-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

html[data-theme="boreal"] .banner_informacoes h1,
html[data-theme="boreal"] .perguntas h2 {
  color: var(--branco);
}

html[data-theme="boreal"] .conteudo_first,
html[data-theme="boreal"] .conteudo_second,
html[data-theme="boreal"] .conteudo_third,
html[data-theme="boreal"] .conteudo_fourth,
html[data-theme="boreal"] .conteudo_fifth {
  background: var(--azul-claro);
}

html[data-theme="boreal"] .first_question,
html[data-theme="boreal"] .second_question,
html[data-theme="boreal"] .third_question,
html[data-theme="boreal"] .fourth_question,
html[data-theme="boreal"] .fifth_question {
  background: var(--primaria);
}

html[data-theme="boreal"] .section_ingresso {
  background: var(--gradient-boreal);
}

html[data-theme="boreal"] .banner_ingresso {
  background: var(--background-banner-ingresso-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

html[data-theme="boreal"] .form label,
html[data-theme="boreal"] .content h3,
html[data-theme="boreal"] .banner_ingresso h1,
html[data-theme="boreal"] .banner_ingresso-comprado h1,
html[data-theme="boreal"] .section_ingresso-comprado h3,
html[data-theme="boreal"] .ingresso_qrcode h4,
html[data-theme="boreal"] .ingresso_qrcode span {
  color: var(--branco);
}

html[data-theme="boreal"] .banner_ingresso-comprado {
  background: var(--background-banner-ingresso-comprado-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

html[data-theme="boreal"] .ingresso_qrcode {
  background: var(--gradient-boreal);
}

html[data-theme="boreal"] #logo_ingresso {
  content: url("/assets/logo-ingresso-boreal.svg");
}

html[data-theme="boreal"] .section_setores.active,
.section_informacoes.active,
.section_ingresso.active,
.ingresso_qrcode.active {
  background: var(--gradient-boreal);
}

.bg-conteudo {
  background: var(--azul-claro);
}

@media (max-width: 768px) {
  .banner {
    height: 384px;
  }

  html[data-theme="boreal"] .bg-boreal {
    background: var(--background-boreal-tablet);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  html[data-theme="boreal"] .banner_experiencia_boreal {
    background: var(--background-banner-experiencia-boreal-tablet);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 650px) {
  .banner {
    height: 270px;
  }

  .alurodromoImg {
    content: url("/assets/banda-mobile.png") !important;
  }
}

.alurodromoImg {
  content: url("/assets/banda.png");
}

html[data-theme="boreal"] .button-bg-boreal {
  background: var(--primaria);
}

.sabado-bg,
.domingo-bg {
  background: var(--verde-escuro) !important;
}

.line-color {
  border-color: var(--verde-escuro);
}

.footer-bg {
  background: var(--primaria);
}

html[data-theme="boreal"] .footerBannerBoreal {
  background: var(--footer-banner-boreal);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html[data-theme="boreal"] .navbarMobileBoreal {
  background: var(--primaria);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
