@import url("./header.css");
@import url("./banner.css");
@import url("./dates.css");
@import url("./footer.css");
@import url("./banner_experiencia.css");
@import url("./acessibilidade.css");
@import url("./toggleSwitch.css");

:root {
  /* TEMA VERÃO */
  --gradient: linear-gradient(180deg, #bfdae6 0%, #fcf0dd 50%, #facf9d 100%);
  --azul-claro: #c8deef;
  --amarelo-claro: #fbf0dd;
  --amarelo: #facf9d;
  --azul-escuro: #2e7ba2;
  --mostarda: #df9010;
  --font-title: "Calistoga", cursive;
  --font-text: "Raleway", sans-serif;
  --font-color: #444444;
  --background-verao: url("/assets/Banner.png");

  /* TEMA BOREAL */
  --gradient-boreal: linear-gradient(
    180deg,
    #304968 0%,
    #36c1a0 52.6%,
    #4650bd 100%
  );
  --primaria: #4650bd;
  --secundaria: #304968;
  --verde-claro: #36c1a0;
  --verde-escuro: #008364;
  --lilas: #b6bcff;
  --branco: #ffffff;
  --background-boreal: url("/assets/banner-boreal.png");
  --background-boreal-tablet: url("/assets/banner-boreal-tablet.png");
  --footer-banner-boreal: url("/assets/guitarra.png");
  --footer-banner-boreal-mobile: url("/assets/banner-footer-mobile.png");
}

.font-branco {
  color: var(--branco) !important;
}

.bg-boreal {
  background: var(--background-boreal);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .banner {
    height: 384px;
  }

  .bg-boreal {
    background: var(--background-boreal-tablet);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 650px) {
  .banner {
    height: 270px;
  }

  .alurodromoImg {
    content: url("/assets/banda-mobile.png") !important;
  }
}

.alurodromoImg {
  content: url("/assets/banda.png");
}

.button-bg-boreal {
  background: var(--primaria);
}

.sabado-bg,
.domingo-bg {
  background: var(--verde-escuro) !important;
}

.line-color {
  border-color: var(--verde-escuro);
}

.footer-bg {
  background: var(--primaria);
}

.footerBannerBoreal {
  background: var(--footer-banner-boreal);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbarMobileBoreal {
  background: var(--primaria);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
